<style>
    .tags-wrapper {
     display: flex;
     flex-wrap: wrap;
  }
  .card{
    margin-bottom:10px;
  }
  h2,span, h2 > a, span > a{
  color:#343a40;
}
  .card-text{
    color: grey
  }
</style>
  
  <div class="container">    
    <a class="btn btn-info" [routerLink]="['create']" style="margin-bottom:5px;">Create</a>      
    <div class="card col-md-12" *ngFor="let post of postList;">
      <div class="card-body">
        <h2 class="card-title" style="font-weight:bold;"><a [routerLink]="['/posts',post._id]">{{post.title}}</a></h2>          
        <div class="card-text" Markdown>{{post.body}}</div>  
      </div>
      <div class="tags-wrapper">
        <div class="tag-holder" *ngFor="let tag of post.tags">          
          <span style="padding-left:10px;"><a [routerLink]="['/posts/tag', tag, this.userIsAdmin]">#{{tag}}</a></span>          
        </div>
      </div>
    </div>
  </div>