<style>
    .error{
      color:red;
    }
  </style>

<h2 class="page-header">Login</h2>

<form (submit)="onLoginSubmit(login)" [formGroup]="login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="username">
    <div class="error" 
    *ngIf="login.get('username').hasError('required') && login.get('username').touched">
    Username is required
  </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password">
    <div class="error" 
    *ngIf="login.get('password').hasError('required') && login.get('password').touched">
    Password is required
  </div>
  </div>
<input type="submit" [disabled]="login.invalid" class="btn btn-info" value="Login">
</form>