<style>
  .tags-wrapper {
   display: flex;
   flex-wrap: wrap;
}
.card{
  margin-bottom:10px;
}
.card-title{
    margin-bottom:0px;
  }
  .card-author{
    margin-bottom:5px;
  }
h2,span, h2 > a, span > a{
  color:#343a40;
}
</style>

<div class="container">            
    <button class="button is-medium is-info" [routerLink]="['create']" style="margin-bottom:5px;">Create</button>
    <h2 class="title has-text-centered">Posts with a tag of <b>"{{searchedTag}}"</b></h2>
    <br>
    <div class="card col-md-12" *ngFor="let post of postList;">
      <div class="card-body">
        <h2 class="card-title" style="font-weight:bold;"><a [routerLink]="['/posts',post._id]">{{post.title}}</a></h2>  
        <p class="card-author has-text-grey-light">{{post.author}}</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>      
      </div>
      <div class="tags-wrapper">
        <div class="tag-holder" *ngFor="let tag of post.tags">          
          <span style="padding-left:10px;"><a [routerLink]="['/posts/tag', tag]">#{{tag}}</a></span>          
        </div>
      </div>
    </div>
  </div>