<style>
  .tags-wrapper {
   display: flex;
   flex-wrap: wrap;
}
.card{
    margin-bottom:10px;
  }
</style>

<div class="container">
  <h2>Posts with a tag of "{{searchedTag}}"</h2>
  <div class="card col-md-12" *ngFor="let post of postList;">
    <div class="card-body">
      <h2 class="card-title" style="color:black;font-weight:bold;">{{post.title}}</h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>      
    </div>
    <div class="tags-wrapper">
      <div class="tag-holder" *ngFor="let tag of post.tags">          
        <span style="padding-left:10px;"><a href="posts/tag/{{tag}}">#{{tag}}</a></span>          
      </div>
    </div>
  </div>
  <br>
</div>