<h2 class="page-header">View Post</h2>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" [(ngModel)]="title" name="title" disabled='disabled'>
  </div>
  <div class="form-group">
    <label>Body</label>
    <textarea cols="30" rows="10" class="form-control"  [(ngModel)]="body" name="body" disabled='disabled'></textarea>
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" [(ngModel)]="author" name="author" disabled='disabled'>
  </div>
  <div class="form-group">
    <label>Author Username</label>
    <input type="text" class="form-control" [(ngModel)]="authorUsername" name="authorUsername" disabled='disabled'>
  </div>
