<style>
  .error{
    color:red;
  }
</style>

<h2 class="title has-text-centered">Register</h2>

<form (ngSubmit)="onRegisterSubmit(user)" [formGroup]="user">
    <div class="field">
      <div class="control">
          <input type="text" placeholder="Name" class="input" formControlName="name">
          <div class="error" 
          *ngIf="user.get('name').hasError('required') && user.get('name').touched">
          Name is required
        </div>
      </div>
    </div>

    <div class="field">
        <div class="control">
            <input type="text" placeholder="Username" class="input" formControlName="username">
            <div class="error" 
            *ngIf="user.get('username').hasError('required') && user.get('username').touched">
            Username is required
          </div>
        </div>
      </div>
    
      <div class="field">
          <div class="control">
              <input type="text" placeholder="Email" class="input" formControlName="email">
              <div class="error" 
              *ngIf="user.get('email').hasError('required') && user.get('email').touched">
              Email is required
            </div>
            <div class="error" 
            *ngIf="user.get('email').hasError('pattern') && user.get('email').touched">
            Email is not a valid email format
          </div>
        </div>
        </div>
    
        <div class="field">
            <div class="control">
                <input type="password" placeholder="Password" class="input" formControlName="password">
                <div class="error"
                *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                Password is required
              </div>
                      </div>
          </div>

<input type="submit" [disabled]="user.invalid" class="button is-medium" style="background-color:#58A4B0;color:white;" value="Submit">
</form>