<div class="jumbotron text-center">
  <h1>MEAN Auth App</h1>
  <p class="lead">Welcome to my MEAN authentication application built from scratch.</p>
    <div>
      <a class="btn btn-info" [routerLink]="['/register']">Register</a>
      <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize modles and query the database</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-Cli</h3>
    <p>Angular-Cli to generate components, services and more. Local dev server and easy compilation</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Heroku Deployment</h3>
        <p>Automated deployments via GitHub and Heroku</p>
    </div>
    <div class="col-md-4">
        <h3>Jasmine and Karma</h3>
        <p>Automated tests via Jasmine and Karma</p>
    </div>
</div> 