<style>
  i{
    text-shadow: 3px 3px 16px #343a40 ;
  }
</style>

<div class="jumbotron text-center">
  <h1>Coming Soon!</h1>
  <p class="lead">Go ahead and register! We'll send a notification out when we go live.</p>
    <div>
      <a class="btn btn-info" [routerLink]="['/register']">Register</a>      
    </div>
    <span></span>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <div><i class="fa fa-5x fa-comment" style="color:#343a40;"></i></div>    
    <h3>Blogs</h3>
    <p>Read a wide range of blog posts from fellow developers</p>
  </div>
  <div class="col-md-4 text-center">
    <h3>Tutorials</h3>
    <p>Receive tutorial posts and videos covering various technologies</p>
  </div>
  <div class="col-md-4 text-center">
    <h3>Tips and Tricks</h3>
    <p>Receive tips and tricks to make development more enjoyable</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
      <h3>Mentoring</h3>
      <p>Receive one on one assistance via Slack and Appear</p>
  </div>
</div> 