
<div class="jumbotron text-center" style="background-color:initial;">
  <h1 class="title">Coming Soon!</h1>
  <!-- <p class="lead">Go ahead and register! We'll send a notification out when we go live.</p> -->
    <!-- <div style="margin-top:5px;">
        <button class="button is-medium" style="background-color:#58A4B0;color:white;" [routerLink]="['/register']">Register</button>
    </div> -->
    <span></span>
</div>

<div class="columns">
  <div class="column text-center">
    <div><i class="fa fa-5x fa-comment" style="color:#373F51;"></i></div>    
    <h3 class="has-text-weight-bold" style="color:#1B1B1E;">Blogs</h3>
    <p>Read a wide range of blog posts from fellow developers</p>
  </div>
  <div class="column text-center">
    <div><i class="fa fa-5x fa-video" style="color:#373F51;"></i></div>    
    <h3 class="has-text-weight-bold" style="color:#1B1B1E;">Tutorials</h3>
    <p>Receive tutorial posts and videos covering various technologies</p>
  </div>
  <div class="column text-center">
    <div><i class="fa fa-5x fa-magic" style="color:#373F51;"></i></div>    
    <h3 class="has-text-weight-bold" style="color:#1B1B1E;">Tips and Tricks</h3>
    <p>Receive tips and tricks to make development more enjoyable</p>
  </div>
  <div class="column text-center">
      <div><i class="fa fa-5x fa-graduation-cap" style="color:#373F51;"></i></div>    
      <h3 class="has-text-weight-bold" style="color:#1B1B1E;">Mentoring</h3>
      <p>Receive one on one assistance via Slack and Appear</p>
  </div>
</div>

